*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #65c697;
    padding: 5px 20px; 
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    justify-content: center; 
}

nav li{
    margin: 0 50px;
    
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
    align-items: center;
    font-size: 25px;
    
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fdffe8;
}